*{
    box-sizing: border-box;
    margin: 0;
    padding: 10px;
}
.outermost-shell{
    width: auto;
    padding: auto;
}
.menu{
    text-align: center;
    align-items: center;
    color: black;
}
.innermost-shell{
    border: 0;
    width: 100%;
    margin: 5px;
    display: block;
    background-color: rgb(212, 212, 212);
    padding: 20px; 
}
.chicken{
    text-align: center;
    font-weight: bold;
    font-size: medium;
}
#header-nav{
    background-color: rgb(212, 212, 212);
    border-radius: 0;
    border: 0;
}
